<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <div formGroupName="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="userName"
              formControlName="userName"
              class="form-control">
            <span 
              *ngIf="!signUpForm.get('userData.userName').valid && signUpForm.get('userData.userName').touched"
              class="help-block">
              <span *ngIf="signUpForm.get('userData.userName').errors['required']">
                Please fill your name!
              </span>
              <span *ngIf="signUpForm.get('userData.userName').errors['isNameForbidden']">
                Please fill a valid name!
              </span>
            </span>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="text"
              id="email"
              formControlName="email"
              class="form-control">
            <span class="help-block" 
              *ngIf="!signUpForm.get('userData.email').valid && signUpForm.get('userData.email').touched">
              Please enter valid email address!
            </span>
          </div>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              formControlName="gender"
              [value]="gender">{{ gender }}
          </label>
        </div>
        <span class="help-block" *ngIf="showGenderMessage">You selected Female!</span>
        <div formArrayName="hobbies">
          <h4>Your Hobbies</h4>
          <button class="btn btn-default margin-10" 
            type="button" 
            (click)="onAddHobby()">
            Add Hobby
          </button>
          <div class="form-group" 
            *ngFor="let hobby of signUpForm.get('hobbies').controls; let i=index;">
            <input type="text" class="form-control" [formControlName]="i">
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
